.list {
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    margin: 10px;
}

.taskList {
    border: 1px solid black;
    width: auto;
    padding: 10px;
    margin: 10px;
}

.task {
    border: 1px solid black;
    width: auto;
    padding: 10px;
    margin: 10px;
}

.error {
    visibility:hidden;
}